@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Mulish:wght@400;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Mulish',sans-serif;
    font-size: 10px;
}

.container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(10,10,10,0.83),rgba(10,10,10,0.83)),url("./Medias/wallpaper.png");
    background-size: cover;
    background-position: center;
}

.navbar {
    width: 100%;
    height: 100px;
    background: linear-gradient(90deg, rgba(14,15,20,1) 0%, rgba(18,19,27,1) 35%, rgba(21,22,31,1) 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;
    box-shadow: 0px 2px 20px 2px #910CC3;
    position: fixed;
    z-index: 2;
}

.navbar .logo img {
    width: 200px;
    cursor: pointer;
    margin-right: 2rem;
}


.navbar .nav-links ul li {
    display: inline-block;
    list-style-type: none;
    padding: 2rem;
}

.navbar .nav-links ul li a {
    text-decoration: none;
    font-weight: 700;
    font-size: 1.5rem;
    color: rgb(245, 245, 245);
}

.navbar .nav-links ul li a:hover {
    color: #910cc3;
    transition: .5s;
}

.navbar .buttons .fa-bars {
    color: #3B475E;
    font-size: 2rem;
    padding-left: 1.8rem;
    cursor: pointer;
    display: none;
}

.navbar .buttons #menuBtn {
    display: none;
}


.navbar .buttons i:hover {
    color: #910cc3;
    transition: .5s;
}

.navbar .buttons .btn{
    padding: 1rem 2.3rem;
    margin-left: 1rem;
    font-size: 1.4rem;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}

.navbar .buttons .btn-1 {
    border: 2px solid rgba(220, 220, 220);
    border-radius: 5rem;
}

.navbar .buttons .btn-1:hover {
    border: 2px solid #910cc3;
    color: #910cc3;
    transition: .5s;
}

.navbar .buttons .btn-2 {
    background: linear-gradient(90.09deg, #910cc3 0%, #72009d 100%);
    color: #fff;
    border-radius: 5rem;
    padding: 1.1rem 2.4rem;
    border: 2px solid #910CC3;
}

.navbar .buttons .btn-2:hover {
    background: none;
    color: #910CC3;
    transition: .5s;
}

.home {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    margin-top: 2.5rem;
    padding: 0 2rem;
    transform: translateY(-50%);
    text-align: center;
    font-size: 1.8rem;
    color: #fff;
}

.home h1 {
    font-family: 'Merriweather',serif;
    font-size: 4.2rem;
    margin-bottom: 2rem;
}

.home p {
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 4rem;
}

.home a {
    text-decoration: none;
    background: linear-gradient(90.09deg, #910cc3 0%, #72009d 100%);
    color: #fff;
    border-radius: 5rem;
    padding: 1.4rem 5.7rem;
    font-weight: 700;
    border: 3px solid #910CC3; 
}

.home a:hover {
    box-shadow: 0px 0px 25px 0px #910CC3;
    background: none;
    color: #910CC3;
    transition: .5s;
}

.services {
    width: 100%;
    height: auto;
    background: linear-gradient(90deg, rgba(14,15,20,1) 0%, rgba(18,19,27,1) 35%, rgba(21,22,31,1) 100%);
    padding: 3rem 0;
}

.services .title {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.services .title h1 {
    margin: 0px 20px;
    cursor: pointer;
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: 1px;
    background: linear-gradient(90deg, rgba(170,17,227,1) 0%, rgba(141,18,187,1) 35%, rgba(164,34,213,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.services .title h1:hover {
    margin: 0px 30px;
    transition: .5s;

}

.services .title div {
    width: 47%;
    height: 3px;
    background: linear-gradient(90deg, rgba(170,17,227,1) 0%, rgba(141,18,187,1) 35%, rgba(164,34,213,1) 100%);
}

.services .row {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.services .card {
    width: 501px;
    height: 600px;
    margin: 0 2rem;
    margin-bottom: 1.5rem;
    background: #141520;
    border-radius: 0.5rem;
    position: relative;
    cursor: pointer;
    opacity: 0.9;
    box-shadow: 0px 0px 25px -12px #910CC3;
}

.services .card:hover {
    opacity: 1;
    transition: .5s;
}

.services .card img {
    width: 100%;
    height: 325px;
    position: absolute;
    bottom: 0%;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;

}

.services .card .content {
    text-align: center;
    padding: 2.8rem;
    color: #fff;
}

.services .card h1 {
    font-family: 'Merriweather';
    font-size: 3rem;
    margin-bottom: 2.5rem;
    font-weight: 700;
    letter-spacing: 1px;
    background: linear-gradient(90deg, rgba(240,240,240,1) 0%, rgba(232,232,232,1) 35%, rgba(226,226,226,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.services .card p {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 4.8rem;
    color: rgb(220, 220, 220);
    cursor: pointer;
}

.services .card p:hover {
    color: #fff;
    transition: .6s;
}

.services .card a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 1.5rem;
    background: linear-gradient(90.09deg, #910cc3 0%, #72009d 100%);
    color: rgb(240, 240, 240);
    border-radius: 5rem;
    padding: 1.3rem 3.6rem;
    border: 2px solid #910CC3;
}

.services .card a:hover {
    background: none;
    color: #910CC3;
    box-shadow: 0px 0px 25px 0px #910CC3;
    transition: .5s;
}

.projects {
    width: 100%;
    height: auto;
    background: linear-gradient(90deg, rgba(14,15,20,1) 0%, rgba(18,19,27,1) 35%, rgba(21,22,31,1) 100%);
    padding: 3rem 0;
}

.projects .title {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.projects .title h1 {
    margin: 0px 20px;
    cursor: pointer;
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: 1px;
    background: linear-gradient(90deg, rgba(170,17,227,1) 0%, rgba(141,18,187,1) 35%, rgba(164,34,213,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.projects .title h1:hover {
    margin: 0px 30px;
    transition: .5s;

}

.projects .title div {
    width: 47%;
    height: 3px;
    background: linear-gradient(90deg, rgba(170,17,227,1) 0%, rgba(141,18,187,1) 35%, rgba(164,34,213,1) 100%);
}

.projects .row-1 {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.projects .row-2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.projects .card {
    width: 425px;
    height: 400px;
    background: #161B25;
    border-radius: 20px;
    margin: 0 2rem;
    margin-bottom: 3rem;
    cursor: pointer;
    opacity: 0.9;
    box-shadow: 0px 0px 25px -12px #910CC3;
}

.projects .card img {
    width: 100%;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.projects .card .content {
    padding: 1rem 2rem;
    font-weight: 600;
    font-size: 1.4rem;
    color: #fff;
    position: relative;
}

.projects .card .content a {
    text-decoration: none;
    margin-bottom: 0.7rem;
    font-weight: 600;
    font-size: 20.25px;
    display: block;
    color: #fff;
}

.projects .card a:hover {
    padding-left: 1rem;
    color: #910CC3;
    transition: .5s;
}

.projects .card .content span {
    color: #5D698D;
}

.projects .card .content i {
    font-size: 3rem;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
}

.projects .card .content i:hover {
    color: #910CC3;
    transition: .5s;
}

.about {
    width: 100%;
    height: auto;
    background: linear-gradient(90deg, rgba(14,15,20,1) 0%, rgba(18,19,27,1) 35%, rgba(21,22,31,1) 100%);
    padding: 3rem 0;
}

.about .title {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.about .title h1 {
    margin: 0px 20px;
    cursor: pointer;
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: 1px;
    background: linear-gradient(90deg, rgba(170,17,227,1) 0%, rgba(141,18,187,1) 35%, rgba(164,34,213,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about .title h1:hover {
    margin: 0px 30px;
    transition: .5s;

}

.about .title div {
    width: 47%;
    height: 3px;
    background: linear-gradient(90deg, rgba(170,17,227,1) 0%, rgba(141,18,187,1) 35%, rgba(164,34,213,1) 100%);
}

.about .row {
    width: 100%;
    display: flex;
}

.about-left {
    width: 50%;
    height: 420px;
    background: linear-gradient(38deg, rgba(104,45,126,1) 0%, rgba(122,36,154,1) 35%, rgba(159,28,210,1) 100%);
}

.about-left .content {
    display: flex;
    justify-content: space-around;
    padding: 3rem 1rem;
    width: 80%;
    height: 340px;
    margin: 3.8rem auto;
    border-radius: 18px;
    background: linear-gradient(192deg, rgba(12,16,28,1) 0%, rgba(13,18,32,1) 35%, rgba(18,25,44,1) 100%);
    text-align: center;
}

.about-left .content img{
    width: 175px;
    border-radius: 100%;
    margin-bottom: 1rem;
}

.about-left .content .box div {
    width: 100%;
    height: 3px;
    border-radius: 20%;
    margin-bottom: 1rem;
    background: linear-gradient(192deg, rgba(173,45,223,1) 0%, rgba(146,38,185,1) 35%, rgba(111,28,144,1) 100%);
}

.about-left .content .box h2 {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 1rem;
}

.about-left .content .box h3 {
    font-weight: 500;
    font-size: 2rem;
    color: #fff;
    opacity: 0.8;
    letter-spacing: 1px;
}

.about-right {
    width: 50%;
    height: 420px;
    background: linear-gradient(192deg, rgba(12,16,28,1) 0%, rgba(13,18,32,1) 35%, rgba(18,25,44,1) 100%);
}

.about-right .content {
    text-align: center;
    padding: 3rem 1rem;
    color: #fff;
    font-size: 1.4rem;
}

.about-right .content h1 {
    font-size: 4.5rem;
    margin-bottom: 1rem;
}

.about-right .content h1 span {
    color: #B620FE;
    font-size: 4.5rem;
}

.about-right .content h2 {
    font-size: 2.7rem;
    margin-bottom: 3rem;
}

.about-right .buttons {
    margin-bottom: 3.5rem;
}

.about-right .buttons .btn{
    padding: 1rem 2.3rem;
    margin-left: 1rem;
    font-size: 1.4rem;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}


.about-right .buttons .btn-1 {
    border: 2px solid rgba(220, 220, 220);
    border-radius: 5rem;
}

.about-right .buttons .btn-1:hover {
    border: 2px solid #910cc3;
    color: #910cc3;
    transition: .5s;
    box-shadow: 0px 0px 16px 0px #910CC3;
}

.about-right .buttons .btn-2 {
    background: linear-gradient(90.09deg, #910cc3 0%, #72009d 100%);
    color: #fff;
    border-radius: 5rem;
    padding: 1rem 2.3rem;
    border: 2px solid #910CC3;
}

.about-right .buttons .btn-2:hover {
    background: none;
    color: #910CC3;
    box-shadow: 0px 0px 16px 0px #910CC3;
    transition: .5s;
}

.about-right .content p {
    font-size: 1.7rem;
    opacity: 0.9;
    margin-bottom: 3rem;
}

.about-right .content .links a{
    font-size: 3.5rem;
    padding: 2rem;
    color: #910cc3;
}

.about-right .content .links a:hover {
    font-size: 3.7rem;
    color: #b72aec;
    transition: .5s;
}

@media(max-width: 1234px) {
    .about-left .content .box img {
        width: 160px;
        margin-bottom: 2.5rem;
    }

    .about-right .content h1 {
        font-size: 4rem;
        margin-top: 1.3rem;
        margin-bottom: 1rem;
        }

    .about-right .content h1 span {
        color: #B620FE;
        font-size: 4rem;
    }

    .about-right .content h2 {
        font-size: 2.3rem;
        margin-bottom: 3rem;
    }

    .about-right .content p {
        font-size: 14px;
    }

    .about-right .buttons {
        margin-bottom: 3.5rem;
    }
    .about-right .buttons .btn{
        padding: 0.9rem 2rem;
        margin-left: 1rem;
        font-size: 1.3rem;
        text-decoration: none;
        color: #fff;
        font-weight: 700;
    }   
}

@media(max-width: 1078px) {
    .navbar .logo img {
        width: 175px;
    }

    .navbar .nav-links ul li {
        padding: 1.65rem;
    }

    .navbar .nav-links ul li a {
        font-size: 1.3rem;
    }

    .services .card {
        width: 401px;
        height: 500px;
        margin: 0 1rem;
    }

    .services .card h1 {
        font-size: 2.5rem;
    }

    .services .card p {
        font-size: 1.3rem;
    }

    .services .card img {
        width: 100%;
        height: 250px;
    }

    .about-left .content .box img {
        width: 130px;
        margin-bottom: 2.5rem;
        margin-top: 1.7rem;
    }

    .about-left .content .box h2 {
        font-size: 1.8rem;
    }

    .about-left .content .box h3 {
        font-size: 1.8rem;
    }

    .about-right .content h1 {
        font-size: 3.5rem;
        margin-top: 0.8rem;
        margin-bottom: 1rem;
        }

    .about-right .content h1 span {
        color: #B620FE;
        font-size: 3.5rem;
    }

    .about-right .content h2 {
        font-size: 2.1rem;
        margin-bottom: 2.5rem;
    }

    .about-right .content p {
        font-size: 13px;
    }

    .about-right .buttons {
        margin-bottom: 3.5rem;
    }

    .about-right .buttons .btn{
        padding: 0.9rem 2rem;
        margin-left: 1rem;
        font-size: 1.3rem;
        text-decoration: none;
        color: #fff;
        font-weight: 700;
    }
}

@media(max-width: 986px) {
    .navbar .logo img {
        width: 150px;
    }

    .navbar .nav-links ul li {
        padding: 1.45rem;
    }

    .navbar .nav-links ul li a {
        font-size: 1.1rem;
    }

    .navbar .buttons .btn {
        padding: 0.9rem 2rem;
    }

    .projects .card {
        width: 395px;
    }

    .projects .card img {
        height: 310px;
    }

    .projects .card .content {
        font-size: 1.4rem;
    }

}

@media(max-width: 863px) {
    .navbar .buttons .fa-bars {
        display: inline-block;
    }

    .navbar .nav-links ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: linear-gradient(90deg, rgba(14,15,20,1) 0%, rgba(18,19,27,1) 35%, rgba(21,22,31,1) 100%);
        top: 100px;
        left: -100%;
        text-align: center;
        z-index: 1;
        transition: all .5s;
    }

    .navbar .nav-links ul.show {
        left: 0;
    }

    .navbar .buttons .fa-bars.show::before {
        content: "\f00d";
    }

    .navbar .nav-links ul li {
        display: block;
        margin-top: 2.5rem;
        margin-bottom: 4.5rem;
    }

    .navbar .nav-links ul li a {
        font-size: 1.7rem;
    }

    .home h1 {
        font-size: 3.7rem;
    }

    .home p {
        font-size: 1.5rem;
    }

    .home a {
        padding: 1.1rem 5rem;
    }

    .services .row {
        flex-direction: column;
    }

    .services .row .card {
        width: 60%;
        margin: auto;
        margin-bottom: 2.7rem;
    }

    .services .row .card h1 {
        font-size: 2.7rem;
        margin-bottom: 2rem;
    }

    .services .row .card p {
        font-size: 1.5rem;
        margin-bottom: 4rem;
    }

    .projects .card img {
        width: 100%;
        height: 335px;
    }

    .projects .card .content {
        font-size: 1.6rem;
    }

    .projects .row-1 {
        flex-direction: column;
        align-items: center;
    }

    .projects .card {
        width: 500px;
        height: 435px;
    }

    .projects .title h1 {
        font-size: 3rem;
    }

    .services .title h1 {
        font-size: 3rem;
    }

    .about .row {
        flex-direction: column;
    }

    .about .about-right {
        width: 100%;
    }

    .about .about-left {
        width: 100%;
    }

    .about-right .content p {
        font-size: 15.5px;
    }

}

@media(max-width: 572px) {

    .navbar .buttons i {
        display: none;
    }

    .navbar .buttons .btn {
        display: none;
    }

    .navbar .buttons .fa-bars {
        font-size: 3rem;
        padding-left: 2rem;
        color: #424242;
    }

    .home {
        margin-top: 3rem;
    }

    .home h1 {
        font-size: 3.1rem;
    }

    .home p {
        font-size: 1.3rem;
        line-height: 2.3rem;
    }

    .home a {
        padding: 0.9rem 4.2rem;
    }

    .services .row .card {
        width: 80%;
        margin: auto;
        margin-bottom: 2.7rem;
    }

    .services .row .card img {
        width: 100%;
    }

    .services .row .card h1 {
        font-size: 3rem;
        margin-bottom: 1.7rem;
    }

    .services .row .card p {
        font-size: 1.6rem;
        margin-bottom: 3.5rem;
    }

    .services .row .card a {
        font-size: 1.4rem;
        padding: 1rem 3rem;
    }

    .projects .card img {
        width: 100%;
        height: 335px;
    }

    .projects .card .content {
        font-size: 1.6rem;
    }

    .projects .row-1 {
        flex-direction: column;
        align-items: center;
    }

    .projects .card {
        width: 440px;
        height: 435px;
    } 

    .about-left .content .box img {
        width: 130px;
        margin-bottom: 2.5rem;
        margin-top: 1.7rem;
    }

    .about-left .content .box h2 {
        font-size: 1.8rem;
    }

    .about-left .content .box h3 {
        font-size: 1.8rem;
    }

    .about-right .content h1 {
        font-size: 3.4rem;
        margin-top: -1rem;
        margin-bottom: 1rem;
        }

    .about-right .content h1 span {
        color: #B620FE;
        font-size: 3.4rem;
    }

    .about-right .content h2 {
        font-size: 2.1rem;
        margin-bottom: 2.5rem;
    }

    .about-right .content p {
        font-size: 13px;
    }

    .about-right .buttons {
        margin-bottom: 3.5rem;
    }

    .about-right .buttons .btn{
        padding: 0.9rem 2rem;
        margin-left: 1rem;
        font-size: 1.3rem;
        text-decoration: none;
        color: #fff;
        font-weight: 700;
    }
}

@media(max-width: 472px) {
    .services .row .card {
        width: 80%;
        height: 450px;
        margin: auto;
        margin-bottom: 2.7rem;
    }

    .services .row .card img {
        height: 200px;
    }

    .services .row .card h1 {
        font-size: 2.9rem;
        margin-bottom: 1.7rem;
    }

    .services .row .card p {
        font-size: 1.5rem;
        margin-bottom: 3rem;
    }

    .services .row .card a {
        font-size: 1.3rem;
        padding: 0.9rem 2.8rem;
    }

    .projects .card img {
        width: 100%;
        height: 240px;
    }

    .projects .card .content {
        font-size: 1.35rem;
    }

    .projects .card .content i {
        font-size: 2rem;
    }

    .projects .row-1 {
        flex-direction: column;
        align-items: center;
    }

    .projects .card {
        width: 330px;
        height: 325px;
    }

    .about-left .content{
        height: 340px;
    }

    .about-left .content .box img {
        width: 110px;
        margin-top: 3rem;
    }

    .about-left .content .box h2 {
        font-size: 1.8rem;
    }
    .about-left .content .box h3 {
        font-size: 1.7rem;
    }
}

